* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.border {
  width: 30px;
  height: 2px;
  background-color: $main-color;
  margin: 87px auto 56px;
  
}


.link {
  width: 183px;
  height: 47px;
  color: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  background-color: $main-color;

  a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin: 0 auto;
  }
}