* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: none;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 800;
}

.feature {
  background: none;
}

.border {
  width: 30px;
  height: 2px;
  background-color: $main-color;
  margin: 87px auto 56px;
}

.menu {
  display: flex;
  justify-content: space-between;
  li a {
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding: 0 30px;
    :last-child {
      font-size: 23px;
    }
  }
}

.pricing {
  padding: 111px 0;
  background-color: #f9f9fa;
}

.try-template {
  padding: 280px 0;
}