h2 {
  font: {
    family: $raleway;
    size: 60px;
    weight: 200;
  }
}

.founder-info h3 {
  font: {
    family: $raleway;
    size: 18px;
    weight: 300;
  }
}

.headline h3 {
  font: {
    family: $proxima;
    weight: 300;
  }
}

h4 {
  font: {
    family: $raleway;
    size: 60px;
    weight: 200;
  }
}

.menu li a {
  font: {
    family: $raleway;
    size: 14px;
    weight: 700;
  }
}

.about-us h3 {
  font: {
    family: $proxima;
    weight: 400;
  }
}

.our-services h3 {
  font: {
    family: $proxima;
    weight: 400;
  }
}

.our-services li span {
  font: {
    family: $proxima;
    size: 18px;
    weight: 400;
  }
}

.description {
  font: {
    family: $proxima;
    size: 18px;
    weight: 400;
  }
}

.name {
  font: {
    family: $raleway;
    size: 30px;
    weight: 400;
  }
}

.team-photo li span {
  font: {
    family: $raleway;
    size: 36px;
    weight: 400;
  }
}

.purchase span {
  font: {
    family: $proxima;
    size: 18px;
    weight: 700;
  }
}

.rights span {
  font: {
    family: $proxima;
    size: 18px;
    weight: 400;
  }
}