
h2 {
  color: $headline-color;
  letter-spacing: 1.5px;
}

h3 {
  text-align: center;
  letter-spacing: 0.45px;
}

h4 {
  color: $headline-color;
  line-height: 95.82px;
  letter-spacing: 1.5px;
  margin: 0;
}

.about-us {
  h3 {
    color: $description-color;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

.name {
  color: #000000;
  line-height: 96px;
  letter-spacing: 0.75px;
  text-align: center;
  display: block;
}

.description {
  display: block;
  color: $description-color;
  line-height: 30px;
  letter-spacing: 0.45px;
}

.lorem-grey {
  background-color: #f9f9fa;
  padding: 165px 0;
}

.div {
  width: 717px;
  .link {
    margin-top: 74px;
  }
}

.founder-info {
  padding: 180px 0 147px;
  background: {
    image: url("../img/Photo2.png");
    size: cover;
    position: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  h2 {
    color: #ffffff;
    font: {
      size: 30px;
      weight: 300;
    }
    letter-spacing: 0.75px;
    text-align: center;
    span {
      color: $main-color;
    }
  }

  h3 {
    opacity: 0.3;
    color: #ffffff;
  }
}

.our-services {
  background-color: #f9f9fa;
  padding: 156px 0 108px;
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h3 {
    color: $description-color;
  }

  li {
    width: 675px;
    display: flex;
    margin-top: 93px;

    .service-description {
      width: 531px;
      margin-left: 50px;
    }

    span {
      color: $description-color;
      line-height: 47.91px;
      letter-spacing: 0.45px;
    }
  }
}

.service-logo {
  width: 94px;
  height: 94px;
  border-radius: 50%;
}

.services {
  display: flex;
  justify-content: space-between;
  margin: 156px 0 170px;

  li {
    width: 292px;
  }
}

.team {
  padding-top: 112px;
}

.team-photo {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  align-items: center;
  width: 2000px;
  margin: 111px auto 0;

  li {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;

    span {
      color: #ffffff;
      line-height: 96px;
      letter-spacing: 0.9px;
      margin: 0 auto;
    }
  }

  li:nth-child(2n+1) {
    background-color: #efefef;
  }

  li:nth-child(2n) {
    background-color: #f9f9fa;
  }

  li:hover {
    background-color: $main-color;
    transition: 0.5s;
    cursor: pointer;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 107px;

  li {
    width: 345px;
    box-shadow: 0 0 35px rgba(227,227,227,0.65);
    border-radius: 5px;
    background-color: #ffffff;
  }

  h2 {
    color: $main-color;
    margin-left: 33px;
  }

  span {
    margin-left: 33px;
  }
}

.text {
  margin: 0 70px 75px 33px;
  line-height: 45px;
}

.line {
  width: 345px;
  height: 2px;
  background-color: #eef0f1;
  margin: 58px 0;
}

.purchase {
  height: 73px;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    color: #ffffff;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
  }
}

.map {
  display: flex;
  align-items: center;
  position: relative;
  padding: 120px 0;
}

.try-template {
  background: {
    image: url("../img/Try_our_template.png");
    size: cover;
    position: center;
  }
  .link {
    border: none;
  }

  h2 {
    color: #ffffff;
    font: {
      weight: 400;
    }
    line-height: 96px;
  }
  text-align: center;
  .link {
    margin: 100px auto 0;
  }
}