.icon-basket {
  margin-right: 33px;
}

.icon-down-open-big {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 365px;
}

.icon-right-open-big {
  font-size: 50px;
  position: absolute;
  right: 0;
}

.icon-left-open-big {
  font-size: 50px;
  position: absolute;
}