footer {
  padding: 72px 0 500px;
  background: {
    image: url(../img/Vector_Smart_Object_copy.png);
    position: top;
    repeat: no-repeat;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li a {
    color: $description-color;
  }
}

.rights {
  display: flex;
  align-items: center;
  span {
    color: $description-color;
    line-height: 96px;
    letter-spacing: 0.45px;
    margin-left: 20px;
  }
}