h1 {
  margin: 0;
}

.headline {
  padding: 345px 0 338px;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

.slider {
  margin: 72px auto 0;
  padding: 0;
}

.about-us {
  padding: 100px 0;
}

.dolor-sit {
  padding: 165px 0;
}

.dolor-sit, .lorem-grey {

  .link, span {
    margin-top: 74px;
  }
}

.right {
  margin-left: auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}