header {
  background: {
    image: url("../img/bgrnd-photo.png");
    size: cover;
    position: center;
  }
  .container {
    position: relative;
  }
}

.headline {
  h2 {
    color: #ffffff;
  }
  h3 {
    color: #ffffff;
    margin-bottom: 63px;
  }
  div {
    background: none;
  }
}

nav {
  display: flex;
  align-items: center;
}

.slider {
  width: 100px;
  display: flex;
  justify-content: space-between;
  li {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    &:hover {
      background: white;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}